h1 {
    color: black;
}

h4 {
    color: black;
}

button {
    font-family: "Verdana";
    color: black;
}

select {
    font-family: "Verdana";
}

.dropdowns {
    font-family: "Verdana";
    height: 40px;
    color: #4ec1dc;
    position: relative;
}

body {
    position: relative;
    left: 40px;

}

h5 {
    color: black;
    font-family:"Verdana";
}